/*
 * Globals
 */

body {
  font-family:'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

h2 {
  font-family:'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 1.2em;
  font-weight: 400;
  color: #555;
  margin-top: -18px;
}

/* Image Padding */

img {
  padding-bottom: 20px;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* Navbar */
.navbar-brand {
font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 2.3em;
text-transform: capitalize;
font-weight: 100;
letter-spacing: 2.5px;
}

.navbar-default .navbar-brand {
  color: #555;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
  background-color: #f8f8f8
}

.navbar-default .navbar-nav li a{

  font-weight: 700;
  font-size: 1.15em;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li.active a {

border-bottom: 3px solid;
background-color: #F3F3F3;
padding-bottom: 12px;

}

.navbar-default .navbar-nav li:first-child a,  .navbar-default .navbar-nav li:first-child a:hover, .navbar-default .navbar-nav li:first-child a:focus {
  color: #9b59b6;
  background-color: #F3F3F3;
}

.navbar-default .navbar-nav li:nth-child(2) a, .navbar-default .navbar-nav li:nth-child(2) a:hover, .navbar-default .navbar-nav li:nth-child(2) a:focus{
  color: #1abc9c;
  background-color: #F3F3F3;
}

.navbar-default .navbar-nav li:nth-child(3) a, .navbar-default .navbar-nav li:nth-child(3) a:hover, .navbar-default .navbar-nav li:nth-child(3) a:focus {
  color: #3498db;
  background-color: #F3F3F3;
}

.navbar-default .navbar-nav li:nth-child(4) a, .navbar-default .navbar-nav li:nth-child(4) a:hover, .navbar-default .navbar-nav li:nth-child(4) a:focus{
  color: #2ecc71;
  background-color: #F3F3F3;
}

/* Blog page */
#blog-page {
  padding-top: 30px;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.blog-main img {
  max-width: 100%;
}

.blog-sidebar {
  padding-left: 30px;
}

/* Sidebar modules for boxing content */

#subscribe-box {
  margin-top: -10px;
}

#subscribe-box h4 strong {
  font-family:'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: #666;
  text-align: justify;
  text-indent: 8px;
  font-weight: 800;
}

#subscribe-box p {
  font-weight: 400;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  font-size: 15px;
}

#subscribe-box .form-group {
  margin-top: 15px;
}

#subscribe-box .btn-success {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

#subscribe-box .btn-success:hover {

}
/* Site Wide Styling */

.center {
  text-align: center;
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border:5px dashed #2ecc71;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.blog-post-title {
  margin-bottom: 7px;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}

.blog-post-title a {
  color: #555;
}

.blog-post-title a:hover{
  color: #2a5496;
  text-decoration: none;

}

.blog-post-meta {
  margin-bottom: 20px;
  color: #888;
  letter-spacing: .04em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.blog-post-meta .btn-danger{
  background-color: #e74c3c;
  padding: 3px 5px;
  margin-right: 5px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}

.blog-post-meta .btn-danger:hover {
  background-color: #d2322d;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}